In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("vaibhav_dataset.csv")

In [3]:
df.shape

(10, 3)

In [4]:
miss_percentage=df.isnull().mean()*100
miss_percentage

sn         0.0
name       0.0
salary    20.0
dtype: float64

In [9]:
missvalue_columns=miss_percentage[miss_percentage>0].keys()
missvalue_columns

Index(['salary'], dtype='object')

In [10]:
df1=df.drop(missvalue_columns,axis=1)

In [11]:
df1

   sn    name
0   1  python
1   2    java
2   3       c
3   4       c
4   5       c
5   6       c
6   7    java
7   8  python
8   9    java
9  10  python

In [14]:
df2=df.fillna(df.mode)

##

In [15]:
df2

   sn    name                                             salary
0   1  python                                               2000
1   2    java  <bound method DataFrame.mode of    sn    name ...
2   3       c                                               3000
3   4       c                                               1000
4   5       c                                               3000
5   6       c                                               4000
6   7    java  <bound method DataFrame.mode of    sn    name ...
7   8  python                                               8000
8   9    java                                                900
9  10  python                                               5000